daemon off;

events {
  worker_connections  4096;
}

http {
  server {
    listen {{getenv "LISTEN_ON"}};
    server_name {{getenv "SERVER_NAME"}};

    location /ping {
      proxy_pass {{getenv "LOCATION"}};
    }

    location / {
      proxy_pass {{getenv "LOCATION"}};
    }
  }
}
